<%= form_for(flight_route) do |f| %>
  <% if flight_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight_route.errors.count, "error") %> prohibited this flight route from being saved:</h2>

      <ul>
      <% flight_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origin %>
    <%= f.text_field :origin %>
  </div>

  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :food %>
    <%= f.check_box :food %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
