<p id="notice"><%= notice %></p>

<h1>Flight Routes</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Food</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @flight_routes.each do |flight_route| %>
      <tr>
        <td><%= flight_route.origin %></td>
        <td><%= flight_route.destination %></td>
        <td><%= flight_route.food %></td>
        <td><%= link_to 'Show', flight_route %></td>
        <td><%= link_to 'New Flight', new_flight_route_flight_path(flight_route) %></td>
        <td><%= link_to 'Edit', edit_flight_route_path(flight_route) %></td>
        <td><%= link_to 'Destroy', flight_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight Route', new_flight_route_path %>
